﻿/* General */
#articles-wrapper {
    max-width: 1000px;
}

#CreateArticle, #MainContent_editArticle {
    max-width: 500px;
}

footer {
    clear: both;
}

/*NavBar*/
.article_link {
    display: inline-block;
    padding-top: 15px;
}

.article_link a {
     padding-right: 25px;
     text-decoration: none;
     color: #ccc;
}

.article_link a:hover {
  color: #fff;
}

/* Forms */
.form-group {
    margin-bottom:0;
}
#previewArticle {
    margin-bottom: 100px;
}
#previewTitle {
    color: #2F5496
}

#MainContent_previewBtn{
    background-color: transparent;
    border: none;
    text-decoration: underline;
}

#MainContent_previewBtn:hover {
    color: dodgerblue;
}

.validation {
    color: red;
}
#CreateArticle input, #MainContent_editArticle input {
    max-width: 50%;
}

textarea {
    resize: none;
    max-width: 100%;
}

/* Tables */
#MainContent_articlesListing tr:first-child {
    border-bottom: 1px solid #2F5496 !important;
}

#articleAction{
    margin-top: 40px !important;
    display:inline-block;
}

.editLink{
    text-decoration:underline;
}
