﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 500px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
/*
body{
    box-sizing: border-box;
    padding: 0;
    font-family: 'Times New Roman',sans-serif;
    font-size: 16px;
}
*, *::after, *::before {
    box-sizing: inherit;
}

#createArticle,#editArticle {
    position: relative;
    max-width: 700px;
    margin: 5px;
}

input[type=text], textarea, input[type=submit] {
    float: left;
}

input[type=text], textarea {
    width: 60%;
    margin-bottom: 5px;
}

textarea {
    resize: none;
}

#submitOption {
    clear: both;
    float: right;
}

#previewArticle {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

.validation {
    width: 25%;
    float: left;
    color: red;
}

#submitBtn {
    padding: 0 5px;
}

#previewArea {
    clear: both;
}

footer {
    clear: both;
}
    */
