﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="articleControl.ascx.cs" Inherits="FinalProject_N00669744a.UserControls.articleControl" %>

 <asp:SqlDataSource  runat="server" ID="articles_update" ConnectionString="<%$ ConnectionStrings:article_con %>">
</asp:SqlDataSource>

<ul id="article_list" runat="server"></ul>
